{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Buscar</h1>

            <form action="{% url 'buscar' %}" method="post"></form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Ingrese el id del refugio</label>
                    <input type="text" class="form-control" id="idRefugio" name="idRefugio" required>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <br>
            <table class="table">
                <thead class="thead-dark"></thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for refugio in buscarRefugios %}
                    <tr>
                        <td>{{ refugio.id_refugio}}</td>
                        <td>{{ refugio.nombre }}</td>
                        <td>{{ refugio.direccion }}</td>
                        <td>{{ refugio.telefono }}</td>
                        <td>{{ refugio.email }}</td>
                        <td>{{ refugio.descripcion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    



</div>

{% endblock %}