{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Eliminar</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <form action="{% url 'eliminar' %}" method="post"></form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Ingrese el id del refugio</label>
                    <input type="text" class="form-control" id="idRefugio" name="idRefugio" required>
                </div>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}