{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Inicio</h1>
        </div>
    </div>
    <div class="row mt-5">
        <p>
            La vida de un critico es sencilla. Nosotros arribamos despues de que la batalla ha sido librada y disparamos sobre los 
            heridos. Luego nos vamos a casa y escribimos una historia sobre como deberia haber sido la batalla.
        </p>
    </div>
</div>
{% endblock %}