{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Modificar</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <form action="{% url 'buscar' %}" method="GET">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">ID Refugio</label>
                    <input type="text" class="form-control" id="idRefugio" name="idRefugio" required>
                </div>

                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>

            <form action="{% url 'modificar' %}" method="POST"></form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}